html {
    padding-left: 15%;
    padding-right: 15%;
    
}
.foto {
    width: 170px;
    height: 140px;
    padding-left: 45%;
    padding-top: 2%; 
}
#menu {
    background-color: #78DCFE;
    padding-left: 90%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    font-weight: 800;
    

}
#fondo {
    background-image: url('../img/fondo.jpg');
    height: 200%;
}
h1 {
    background-color: #EDA9C2;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;

}
.espacio {
    padding-bottom: 7%;
}
.espacio-footer {
    padding-bottom: 4%;
}
h2 {
    background-color: #78DCFE;
    padding: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #3a3a3a;
    font-weight: 600;
}
.lista-datos li {
    line-height: 30px;

}
.lista-formacion li {
    line-height: 20px;

}
#cursiva {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 600;
    
}

ul li {
    font-family: 'Poppins', sans-serif;

}
p {
    padding-left: 7.2%;
    line-height: 2px;
    font-family: 'Poppins', sans-serif;
}
#experiencias {
    padding-left: 3.5%;
    line-height: 2px;
    font-family: 'Poppins', sans-serif;
}

footer {
    color: white;
    background-color: #EDA9C2;
    display: flex;
    justify-content: center;
}
.redes {
    margin-right: 60px;
    margin-top: 10px;
    margin-left: 30px;
    word-spacing: 20px;  
}
.fab fa-github {
    height: 500px;
    width: 500px;

}


	 
 
 