html{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header #cabecera {
    background-color: #1CD1B0;
    padding: 0.5%;
    
}
#cabecera-principal{
    background-color: #00669f;
    display: flex;
    margin-top: -1%;
}
h1{
    font-weight: normal;
    margin-left: 2%;
    margin-top: 1.5%;
    font-size: 1.5rem;
    color: white;
}
#logo{
    height: 60px;
    padding-top: 0.5%;
    padding-left: 1%;
}
/* menu de navegacion */
#menu{
    display: flex;
    justify-content: flex-end;
    background-color: #001D2D;
}
#menu ul{
    display: flex;
}
#menu li{
    color: white;
    display: flex;
    margin: -5px 18px;
    
}
.container{
    display: flex;
    justify-content: space-around;
    border: solid 3px rgb(80, 253, 11);
    margin-top: 1.8%;

}
.container .card{
    position:relative;
    padding-bottom: 100px;
    background-color:#F3F3F3;
    width: 300px;
    height: 430px;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
}
.container .card .name{
    position: absolute;
    top:250px;
}
.container .card .perfil{
    border-radius: 20px;
    position: absolute;
    top: 130px;
    left: 90px;  
}
.icono-corazon{
    font-size: 150%; 
    color: red;
    position:absolute;
    top:15px;
    left: 15px;
}
.descripcion {
    padding-left: 18px;
    padding-right: 18px;
    text-align: left;
    margin-top: -30px;
}
.name h4{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
}
.foto {
    border-radius: 80px;
}
h2 {
    padding-top: 20px;

}
.ver-mas{
    position:relative;
    top: 20px;
    background-color: #00669F;
    color: white;
    padding:20px;
}
/* codigo pagina contacto */
#formulario{
    color: #333333;
    font-weight: bold;
    font-size: 3rem;
    padding-left: 33%;
}
#formulario-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formulario-contacto input, textarea{
    width: 30%;
    height: 35px;
    margin: 0.5%;
  
}
#formulario-contacto textarea{
    height: 200px;
    font-family:'Roboto', sans-serif ;
    line-height: 180%;
    color: grey;
}
#botones{
    display: flex;
    width: 40%;
    justify-content: center;
}
#botones #resetear{
    color: white;
    font-weight: bold;
    background-color: #888888;
    border-radius: 20px;
}
#botones #enviar{
    color:#333333 ;
    font-weight: bold;
    background-color: #1CD1B0;
    border-radius: 20px;
}

#pie-pagina{
    color: white;
    text-align: center;
   position:fixed;
   left:0px;
   bottom:0px;
   height:58px;
   width:100%;
   background:#00669F;
}
/* media queries */
@media (max-width: 450px){
    .container{
        flex-direction: column;
        justify-content: center;
}
}
@media (max-width: 450px){
    .container .card{
        margin-top: 10%;
    }
  }
@media (max-width: 800px){
    .container{
        flex-direction: column;
}
}
@media (max-width: 800px){
  .container .card{
      margin-top: 10%;
  }
}